/* WARNING: Don't make changes here unless is a requirement to fix an issue */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: red;
  width: 1300px;
}

a {
  text-decoration: none;
  color: white;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9rem;
}

.header-nav-logo > img {
  width: 80%;
  margin: 1rem;
}

.header-nav-menu {
  width: 100%;
}

.header-nav-menu > ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 2rem;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: bolder;
}

.header-nav-menu > ul > li {
  padding: 0 10px;
  line-height: 16px;
}

.mobile {
  display: none;
}

main {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 1300px;
}

.main-row-search {
  background-image: url(directory_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40rem;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

.main-row-search-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%
}

.main-row-search-content > span {
  display: inline-block;
  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 1300px;
  height: 40rem;
}

.main-row-search-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.main-row-search-content > div > h2 {
    margin-bottom: 20px;
}

.main-row-search-content > div > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 3%;
    padding: 1rem;
    margin-top: 1rem;
}

.search-box {
  padding: 1.5rem;
}

.search-box > input {
  border: 0;
  padding: 0.7rem;
  width: 17rem;
  margin-right: -5px;
}

.search-box > button,
.row-content-col > button  {
  border-radius: 3%;
  border: 1px solid transparent;
  color: white;
  padding: 0.6rem 2rem;
  margin-top: 1rem;
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.search-box > button:hover {
  background-position: right center;
}

.main-row-path {
  display: grid;
  grid-template-rows: auto auto;
  padding: 2rem;
  background: white;
}

.main-row-path > h2 {
  margin-top: 1rem;
  font-size: 16px;
  text-align: center;
}

.main-row-path > h2 > a {
  text-decoration: underline;
  color: black;
}

.main-row-path-step {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.step-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.step-col > h3,
.step-col > i {
  margin-bottom: 1rem;
  font-size: 20px;
  text-transform: uppercase;
}
.step-col > p {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  width: 80%;
  text-align: justify;
}

.main-row-content {
  display: grid;
  grid-template-rows: auto auto auto;
  background: white;
  width: 100%;
}

.row-content-red,
.row-content-gray,
.row-content-blue {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.row-content-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.row-content-image > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.row-content-col > h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.row-content-col > p {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 25px;
}
.row-content-col > p > a {
  color: black;
  text-decoration: underline;
}

.row-content-col > button {
  width: 10rem;
}
@media (max-width:1300px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
  }
  .main-row-search-content > span {
    width: 100%;
  }
}
/*Mobile Screens*/
@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inline-block;
  }

  .header-nav {
    flex-direction: column;
    height: 8rem;
  }

  .header-nav-logo {
    text-align: center;
  }

  .header-nav-logo > img {
    width: 50%;
    margin: 0;
  }

  .header-nav-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .header-nav-menu > ul {
    margin-right: 0;
  }

  .header-nav-menu > ul > li {
    padding: 0 20px;
  }
}
/*Tablet Screens*/
@media (max-width: 1024px) {
  .header-nav-logo > img {

  }
}
